---
---

<div class="bib-container">

<span class="bib-title par">"{{ entry.title }}"</span>,

<!-- Author list-->

{% for author in entry.author_array %}
{% assign author_name = (author.first | append: " ") | append: author.last%}

{% for member in site.members %}
{% if author_name == member.bib_id %}
{% assign found_member = member %}
{% endif %}
{% endfor %}

{% if found_member != null %}
<span class="bib-author par"><a href="{{site.baseurl}}{{found_member.url}}">{{ author.first }} {{ author.last}}</a></span>,
{% else %}
<span class="bib-author par">{{ author.first }} {{ author.last}}</span>,
{% endif %}

{% assign found_member = null %}

{% endfor %}

<!-- Conference Title and Year -->

{% if entry.booktitle != null %}
<span class="bib-booktitle par">{{ entry.booktitle }}</span>,
{% else %}
<span class="bib-journal par">{{ entry.journal }}</span>,
{% endif %}
<span class="bib-year par">{{ entry.year }}</span>

<!-- Paper links -->

<br>

{% assign doi-url = "https://doi.org/" %}

{% if entry.doi != null %}
<a class="bib-buttons bib-doi" href="{{doi-url | append: entry.doi}}"><strong>DOI</strong></a>
{% endif %}

{% if entry.url != null%}
<a class="bib-buttons bib-preprint" href={{entry.url}}><strong>Pre-Print</strong></a>
{% endif %}

<!-- {{ entry.bibtex }}-->

</div>