---
layout: default
---


{% for msg in site.pagedata %}
    {% if msg.for == 'home' %}
        {% assign welcomeMsg = msg.welcomeMessage %}
        {% assign groupPhoto = msg.groupPhoto %}
    {% endif %}
{% endfor %}


<div id="home" class="container">



    <div class="summary row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center footer-top">
            <h1>We are DevX!</h1>
            <h2>{{ welcomeMsg}}</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{{ site.baseurl }}{{groupPhoto}}" class="img-fluid" alt="Group Photo">
        </div>
    </div>

    <div>
        <article class="post-content-main">

            <h1>News</h1>

            <div class="post-list">
                {% for post in site.posts limit:3 %}
                <div class="post">
                    <div class="post-title">
                        {{ post.date | date: "%-d %b %Y" }} -- {{ post.title }}
                    </div>
                    <div class="post-content">
                        {{ post.content | truncatewords: 150 }}
                        <br>
                        <a class="post-more-link" href="{{ site.baseurl }}{{ post.url }}">More...</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="all-news-link"><a href="news">See All News</a></div>
        </article>
    </div>



    <div>
        <article class="post-content-main">
            <h1>
                Research Highlights
            </h1>

            <div>
                {% for project in site.projects %}
                {% if project.active %}
                <div class="row projectHighlight">
                    <div class="col-md-6">
                        {% if project.video != null %}
                        {% youtube project.video %}
                        {% elsif project.photo != null %}
                        <img class="img-fluid" src="{{site.baseurl}}{{project.photo}}" alt="{{project.title}}">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h3 class="projectTitle">{{project.title}}</h3>
                        {% if project.short_desc != null %}
                        <p>{{project.short_desc}}</p>
                        {% endif %}

                        <a class="post-more-link" href="{{ site.baseurl }}{{ project.url }}">More...</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="all-news-link"><a href="projects">See All Projects</a></div>
        </article>
    </div>




</div>
