---
layout: default
---

{% for msg in site.pagedata %}
    {% if msg.for == 'home' %}
        {% assign salute = msg.salute %}
        {% assign welcomeMessage = msg.welcomeMessage %}
        {% assign groupPhoto = msg.groupPhoto %}
        {% assign newsTitle = msg.newsTitle %}
        {% assign newsSeeMore = msg.newsSeeMore %}
        {% assign highlightsTitle = msg.highlightsTitle %}
        {% assign highlightsSeeMore = msg.highlightsSeeMore %}
        {% assign numberOfNews = msg.numberOfNews %}
        {% assign messageThreshold = msg.messageThreshold%}
    {% endif %}
{% endfor %}

<div id="home">
    <div>
        <div class="summary pb-5 pt-5 container">
            <h1>{{salute}}</h1>
            <h2>{{welcomeMessage}}</h2>
        </div>
    </div>
    <div class="bg-news">
        <div class="pb-2 pt-5 container">
            <article>
                <h1 class="text-color-1 text-xlarge text-center pb-4 text-uppercase">{{newsTitle}}</h1>
                <div class="row ml-0">
                    <div class="col-12 col-md-11 row mb-3 m-0">
                        {% for post in site.posts limit:numberOfNews %}
                            {% include newsPanel.html post=post truncatewords=truncatewords %}
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-1 all-news-link"><a href="news">{{newsSeeMore}}</a></div>
                </div>
            </article>
        </div>
    </div>
    <div>
        <div class="pb-2 pt-5 container">
            <article>
                <h1 class="text-color-1 text-title text-center pb-4 text-uppercase">{{highlightsTitle}}</h1>
                <div class="row">
                    {% for project in site.projects %}
                    {% if project.active %}
                    {% include projectPanel.html project=project %}
                    {% endif %}
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
</div>
