---
layout: default
title: Member
---

{% for proj in site.projects %}
    {% for collab in proj.current_collaborators %}
        {% if page.key == collab %}
            {% assign hasCurrentProjects = true %}
        {% endif %}
    {% endfor %}
    {% for collab in proj.prev_collaborators %}
        {% if page.key == collab %}
            {% assign hasPrecProjects = true %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="container">
    <article>

        {% if page.image != null %}
        <div class="mem-img">
            <img alt="{{ page.first_name }} {{ page.last_name }}" class="img-fluid"
                 title="{{ page.first_name }} {{ page.last_name }}" src="{{ site.baseurl }}{{ page.image }}">
        </div>
        {% endif %}

        <div class="mem-section mem-info">
            <h4>{{page.first_name}} {{page.last_name}}</h4>
            <span>{{ page.title }}</span><br>
            {% if page.website != null %}
            <a href="{{ page.website }}">personal Website</a><br>
            {% endif %}
            {% if page.twitter != null %}
            <a href="{{ page.twitter }}">Twitter</a><br>
            {% endif %}
            {% if page.github != null %}
            <a href="{{ page.github }}">GitHub</a><br>
            {% endif %}
        </div>


        {% if page.content != null %}
            <div class="mem-bio">
                <h2>Bio</h2>
                {{ page.content }}
            </div>
        {% endif %}



        {% if page.publications != null %}
            <div class="mem-section mem-publications">
            <h2>Publications</h2>
            {% for pub in page.publications %}
                {% reference pub %}
            {% endfor %}
            </div>
        {% endif %}



        {% if hasCurrentProjects %}
            <div class="mem-section mem-projects">
            <h2>Projects</h2>
            {% for proj in site.projects %}
                {% for collab in proj.current_collaborators %}
                    {% if page.key == collab %}
                        <div class="projectHighlight">
                            <h3 class="projectTitle">{{proj.title}}</h3>
                            {% if proj.short_desc != null %}
                                <p>{{proj.short_desc}}</p>
                            {% endif %}
                            <a class="post-more-link" href="{{ site.baseurl }}{{ proj.url }}">More...</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}


        {% if hasPrevProjects %}
        <h2>Previous Projects</h2>
            <div class="mem-section mem-projects">
            {% for proj in site.projects %}
                {% for collab in proj.prev_collaborators %}
                    {% if page.key == collab %}
                        <div class="projectHighlight">
                            <h3 class="projectTitle">{{proj.title}}</h3>
                            {% if proj.short_desc != null %}
                                <p>{{proj.short_desc}}</p>
                            {% endif %}
                            <a class="post-more-link" href="{{ site.baseurl }}{{ proj.url }}">More...</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

    </article>
</div>