---
layout: default
title: Member
---

{% for proj in site.projects %}
    {% for collab in proj.current_collaborators %}
        {% if page.key == collab %}
            {% assign hasCurrentProjects = true %}
        {% endif %}
    {% endfor %}
    {% for collab in proj.prev_collaborators %}
        {% if page.key == collab %}
            {% assign hasPrecProjects = true %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="container member">
    <article>

        <div class="row">
            <div class="col-sm-3 col-12">
                <img alt="{{ page.first_name }} {{ page.last_name }}"
                     title="{{ page.first_name }} {{ page.last_name }}" src="{{ site.baseurl }}{{ page.image }}">
            </div>

            <div class="col-sm-8 col-12">
                <h4>{{page.first_name}} {{page.last_name}}</h4>
                <span>{{ page.title }}</span><br>
                {% if page.website != null %}
                <a href="{{ page.website }}"><i class="fas fa-house-user icon" title="Home Page"></i></a>
                {% endif %}
                {% if page.twitter != null %}
                <a href="{{ page.twitter }}"><i class="fab fa-twitter-square icon" title="Twitter"></i></a>
                {% endif %}
                {% if page.github != null %}
                <a href="{{ page.github }}"><i class="fab fa-github-square icon" title="Github"></i></a>
                {% endif %}
            </div>
        </div>


        {% if page.content != null %}
            <div class="mem-bio">
                {{ page.content }}
            </div>
        {% endif %}


        {% if hasCurrentProjects %}
            <div class="mem-section">
            <h2>Projects</h2>
            {% for proj in site.projects %}
                {% for collab in proj.current_collaborators %}
                    {% if page.key == collab %}
                        <div class="">
                            <a class="" href="{{ site.baseurl }}{{ proj.url }}">{{proj.title}}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}


        {% if hasPrevProjects %}
        <h2>Previous Projects</h2>
            <div class="mem-section">
            {% for proj in site.projects %}
                {% for collab in proj.prev_collaborators %}
                    {% if page.key == collab %}
                        <div class="">
                            <a class="" href="{{ site.baseurl }}{{ proj.url }}">{{proj.title}}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}



        {%- capture refs -%}
        {% bibliography_count --query @*[author~={{page.first_name}} && author~={{page.last_name}}] %}
        {%- endcapture -%}
        {% assign refs = refs | plus: 0 %}
        {% if refs > 0 %}
        <div class="mem-section">
            <h2>Publications</h2>
            {% bibliography --query @*[author~={{page.first_name}} && author~={{page.last_name}}] %}
        </div>
        {% endif %}

    </article>
</div>