---
layout: default
---
{% for msg in site.pagedata %}
    {% if msg.for == 'home' %}
        {% assign newsTitle = msg.newsTitle %}
        {% assign messageThreshold = msg.messageThreshold %}
    {% endif %}
{% endfor %}

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<div id="news" class="container">
    <article class="post-content-main">
        {% for year in postsByYear %}
        <div class="row ml-0">
            <div class="col-12 col-md-11 row mb-5 m-0">
                {% for post in year.items %}
                {% include newsPanel.html post=post messageThreshold=messageThreshold %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </article>
</div>