---
layout: default
---

<div id="news" class="container">

    <article class="post-content-main">

        <h1>News</h1>

            <div class="post-list">
                {% for post in site.posts %}
                <div class="post">
                    <div class="post-title">
                        {{ post.date | date: "%-d %b %Y" }} -- {{ post.title }}
                    </div>
                    <div class="post-content">
                        {{ post.content | truncatewords: 150 }}
                        <br>
                        <a class="post-more-link" href="{{ site.baseurl }}{{ post.url }}">More...</a>
                    </div>
                </div>
                {% endfor %}
            </div>

    </article>

</div>