---
layout: default
---

{% for msg in site.pagedata %}
    {% if msg.for == 'people' %}
        {% assign facultyTitle = msg.facultyTitle %}
        {% assign studentsTitle = msg.studentsTitle %}
        {% assign studentsGroup = msg.studentsGroup %}
        {% assign alumniTitle = msg.alumniTitle %}
        {% assign alumniGroup = msg.alumniGroup %}
    {% endif %}
{% endfor %}


<!-- sort members based on their seniority -->

{% assign persons = site.members | sort: 'start_year' %}


<div id="people" class="container">

    <h1 class="title">{{ facultyTitle }}</h1>
    {% for person in site.members %}
    {% if person.level == 'Faculty' %}
    <div class="row">
        {% include peoplePanel.html person=person %}
    </div>
    {% endif %}
    {% endfor %}



    <h1 class="title">{{ studentsTitle }}</h1>
    <div class="row">

        {% for group in studentsGroup %}

        {% for person in persons %}
        {% if person.level == group and person.status == "student" %}
        {% include peoplePanel.html person=person %}
        {% endif %}
        {% endfor %}

        {% endfor %}

    </div>


    {% assign alumni = site.members | sort: 'start_year' | reverse %}

    <h1 class="title">{{ alumniTitle }}</h1>
    <div class="row">

        <div>

        {% for group in alumniGroup %}
        <div class="mb-3">
        {% for person in alumni %}
        {% if person.level == group and person.status == "alumni" %}
            <div class="intern-alumna-container p-1 pb-2">
                {% if person.website != null %}
                <a class="text-small-title" href="{{ person.website }}"><span>{{person.first_name}} {{person.last_name}}</span></a>,
                {% else %}
                <span class="text-small-title">{{person.first_name}} {{person.last_name}}</span>,
                {% endif %}
                <span>{{ person.title }}</span>,
                <span>{{ person.start_year }}</span>
                {% if person.end_year != null %}
                <span>-{{ person.end_year }}</span>
                {% endif %}
                {% if person.now != null %}
                , <span class="text-small text-italic"> {{ person.now }}</span>
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
        </div>
        {% endfor %}

    </div>

    </div>
</div>
