---
layout: default
---

<!-- check out if there is any member with the intended role and create a boolean variable for it -->

{% for member in site.members %}
    {% if member.role == 'phd_student' %}
        {% assign phd_student_exists = true %}
    {% elsif member.role == 'master_student' %}
        {% assign master_student_exists = true %}
    {% elsif member.role == 'undergrad_student' %}
        {% assign undergrad_student_exists = true %}
    {% elsif member.role == 'highschool_student' %}
        {% assign highschool_student_exists = true %}
    {% elsif member.role == 'REU' %}
        {% assign REU_exists = true %}
    {% endif %}
{% endfor %}


<!-- sort members based on their seniority -->

{% assign members = site.members | sort: 'start_year' %}



<div id="people" class="container">

    <h1>Lab Director</h1>
    {% for person in site.members %}
        {% if person.role == 'lab_director' %}
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    {% if person.image != null %}
                    <div class="mem-img">
                        <img alt="{{ person.first_name }} {{ person.last_name }}" class="img-fluid"
                            title="{{ person.first_name }} {{ person.last_name }}" src="{{ site.baseurl }}{{ person.image }}">
                    </div>
                    {% endif %}

                    <div class="mem-info">
                        <h4>{{person.first_name}} {{person.last_name}}</h4>
                        <span>Assistant Professor and lab director</span><br>
                        {% if person.website != null %}
                        Website: <a href="{{ person.website }}">some-icon</a><br>
                        {% endif %}
                        {% if person.twitter != null %}
                        Twitter: <a href="{{ person.twitter }}">some-icon</a><br>
                        {% endif %}
                        {% if person.github != null %}
                        GitHub: <a href="{{ person.github }}">some-icon</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% if phd_student_exists %}
        <h1>PhD Students</h1>
        <div class="row">
        {% for person in members %}
        {% if person.role == 'phd_student' %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    {% if person.image != null %}
                    <div class="mem-img">
                        <img alt="{{ person.first_name }} {{ person.last_name }}" class="img-fluid"
                             title="{{ person.first_name }} {{ person.last_name }}"
                             src="{{ site.baseurl }}{{ person.image }}">
                    </div>
                    {% endif %}

                    <div class="mem-info">
                        <h4>{{person.first_name}} {{person.last_name}}</h4>
                        <span>PhD Student</span><br>
                        {% if person.website != null %}
                        Website: <a href="{{ person.website }}">some-icon</a><br>
                        {% endif %}
                        {% if person.twitter != null %}
                        Twitter: <a href="{{ person.twitter }}">some-icon</a><br>
                        {% endif %}
                        {% if person.github != null %}
                        GitHub: <a href="{{ person.github }}">some-icon</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    {% endif %}


    {% if master_student_exists %}
        <h1>Master Students</h1>
        <div class="row">
            {% for person in members %}
            {% if person.role == 'master_student' %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    {% if person.image != null %}
                    <div class="mem-img">
                        <img alt="{{ person.first_name }} {{ person.last_name }}" class="img-fluid"
                             title="{{ person.first_name }} {{ person.last_name }}"
                             src="{{ site.baseurl }}{{ person.image }}">
                    </div>
                    {% endif %}

                    <div class="mem-info">
                        <h4>{{person.first_name}} {{person.last_name}}</h4>
                        <span>Master Student</span><br>
                        {% if person.website != null %}
                        Website: <a href="{{ person.website }}">some-icon</a><br>
                        {% endif %}
                        {% if person.twitter != null %}
                        Twitter: <a href="{{ person.twitter }}">some-icon</a><br>
                        {% endif %}
                        {% if person.github != null %}
                        GitHub: <a href="{{ person.github }}">some-icon</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}


    {% if REU_exists %}
        <h1>REU</h1>
        <div class="row">
            {% for person in members %}
            {% if person.role == 'REU' %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    {% if person.image != null %}
                    <div class="mem-img">
                        <img alt="{{ person.first_name }} {{ person.last_name }}" class="img-fluid"
                             title="{{ person.first_name }} {{ person.last_name }}"
                             src="{{ site.baseurl }}{{ person.image }}">
                    </div>
                    {% endif %}

                    <div class="mem-info">
                        <h4>{{person.first_name}} {{person.last_name}}</h4>
                        <span>REU Student  {{person.start_year}}</span><br>
                        {% if person.website != null %}
                        Website: <a href="{{ person.website }}">some-icon</a><br>
                        {% endif %}
                        {% if person.twitter != null %}
                        Twitter: <a href="{{ person.twitter }}">some-icon</a><br>
                        {% endif %}
                        {% if person.github != null %}
                        GitHub: <a href="{{ person.github }}">some-icon</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}


</div>