---
layout: default
title: Post
---

<div class="container">


    <article class="post-content-main">

        <h1>News</h1>

        <div>
            <div class="post-title p-2">
                <div class="float-right">
                    {{ page.date | date: "%-d %b %Y" }}
                </div>
                <div>{{ page.title }}</div>
            </div>
            <div class="post-content">
                <h2>
                    {{ content}}
                </h2>
            </div>
        </div>

        <div class="all-news-link"><a class="all-news-link" href="{{ site.baseurl }}/news">See All News</a></div>
    </article>

</div>