---
layout: default
title: Project
---
<div class="container">
    <article>
        <div class="all-news-link"><a class="all-news-link" href="{{ site.baseurl }}/projects">See All Projects</a>
            <h3 class="projectTitle">{{page.title}}</h3>

            <div class="col-md-10">
                {% if page.youtube_video != null %}
                {% youtube page.youtube_video %}
                {% elsif page.photo != null %}
                <img class="img-fluid" src="{{site.baseurl}}{{page.photo}}" alt="{{page.title}}">
                {% endif %}
            </div>

            <div class="col-md-10 proj-section">
                {% if page.short_desc != null %}
                <p>{{page.short_desc}}</p>
                {% endif %}
                {{page.content}}
            </div>

            <div class="col-md-10 proj-section">
                <h3>Collaborators</h3>
                <div class="row">
                    {% for collab in page.current_collaborators %}
                        {% for member in site.members %}
                            {% if member.key == collab %}
                            <div class="col-md-2 d-flex align-items-stretch project-collab-img">
                                <div class="proj-collab-img">
                                    <a href="{{ site.baseurl }}{{ member.url }}"><img
                                            src="{{ site.baseurl }}{{ member.image }}"></a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                {% if page.prev_collaborators != null %}
                    <p>Previous Collaborators</p>
                    <div class="row">
                        {% for collab in page.prev_collaborators %}
                            {% for member in site.members %}
                                {% if member.key == collab %}
                                    <div class="col-md-2 d-flex align-items-stretch project-collab-img">
                                        <div class="proj-collab-img">
                                            <a href="{{ site.baseurl }}{{ member.url }}"><img
                                                    src="{{ site.baseurl }}{{ member.image }}"></a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-10 proj-section">
                {%- capture refs -%}
                {% bibliography_count --query @*[project={{page.title}}] %}
                {%- endcapture -%}
                {% assign refs = refs | plus: 0 %}
                {% if refs > 0 %}
                <div class="mem-section mem-publications">
                    <h2>Publications</h2>
                    {% bibliography --query @*[project~={{page.title}}] %}
                </div>
                {% endif %}
            </div>

        </div>

    </article>
</div>