---
layout: default
---

{% for project in site.projects %}
    {% if project.active %}
        {% assign hasActiveProject = true %}
    {% elsif project.active == false %}
        {% assign hasArchivedProject = true %}
    {% endif %}
{% endfor %}

{% for msg in site.pagedata %}
    {% if msg.for == 'projects' %}
        {% assign ActiveProjectsTitle = msg.ActiveProjectsTitle %}
        {% assign ArchivedProjectsTitle = msg.ArchivedProjectsTitle %}
        {% if msg.showArchivedProjects == false %}
            {% assign hasArchivedProject = false %}
        {% endif %}
    {% endif %}
{% endfor %}

<div id="projects" class="container">
    {% if hasActiveProject %}
    <article>
        <h1 class="title">{{ActiveProjectsTitle}}</h1>
        <div class="row">
        {% for project in site.projects %}
        {% if project.active %}
        {% include projectPanel.html project=project %}
        {% endif %}
        {% endfor %}
        </div>
    </article>
    {% endif %}


    {% if hasArchivedProject %}
    <div class="archived-project">
        <h1 class="title">{{ArchivedProjectsTitle}}</h1>
        <div class="row">
        {% for project in site.projects %}
        {% if project.active == false %}
        {% include projectPanel.html project=project %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>