---
layout: default
title: Tools
---

{% for msg in site.pagedata %}
    {% if msg.for == 'tools' %}
        {% assign pageTitle = msg.pageTitle %}
    {% endif %}
{% endfor %}

<div class="gallery container">
    <h3 class="title">{{page.title}}</h3>
    <div class="row no-gutters">
        <div class="project-page-section">
            <div class="text-justify project-content">
                {{page.content}}
            </div>
        </div>

        {% if page.papers != null %}
        <div class="project-page-section">
            <div class="project-page-section mem-publications">
                <h2>Publications</h2>
                {% for paper in page.papers %}
                    {% bibliography --query @*[key={{paper}}] %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</div>