{% assign project=include.project %}

<div class="col-12 col-md-12 pb-5">
    <div class="project-highlight bg-white full-height box-shadow">
        <div class="project-content m-0">
            <div class="p-1 bg-projects-header text-color-white text-large-title text-center">
                <h3>
                    <a href="{{ site.baseurl }}{{ project.url }}" class="text-color-white">{{project.title}}</a>
                </h3>
            </div>
            <div class="p-3 row">
                <div class="col-12 pb-3 col-lg-5">
                    <p class="project-description par">{{project.highlight}}
                        <br>
                    <a href="{{ site.baseurl }}{{ project.url }}" >Learn More.</a></p>
                </div>
                <div class="col-12 col-lg-7">
                    {% if project.highlightMediaType == "YouTube" %}
                    {% youtube project.highlightMediaURL %}
                    {% elsif project.highlightMediaType == "image" %}
                    <img class="img-fluid" src="{{site.baseurl}}{{project.highlightMediaURL}}" alt="{{project.title}}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>