# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
logo: "/devx.cs.gmu.edu/assets/icon/favicon-32x32.png"
title: DevX
email: tlatoza@gmu.edu
description: >- # this means to ignore newlines until "baseurl:"
  We study how humans interact with code and design new ways to build software. I work at the intersection
  of software engineering and human-computer interaction.
baseurl: "/devx.cs.gmu.edu" # the subpath of your site, e.g. /blog
url: "https://luminaxster.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: ThomasLaToza
github_username:  devuxd

scholar:
  style: acm-sig-proceedings
  locale: en

  sort_by: none
  order: ascending

  group_by: none
  group_order: ascending

  source: ./_bibliography
  bibliography: references.bib
  bibliography_template: ""

  replace_strings: true
  join_strings:    true

  use_raw_bibtex_entry: false

  details_dir:    bibliography
  details_layout: bibtex.html
  details_link:   Details

  query: "@*"

# Build settings
theme: minima
header_pages:
  - projects.markdown
  - publications.markdown
  - people.markdown
  - gallery.html
  - about.markdown
# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-youtube
  - jekyll-scholar

github: [metadata]

collections:
  members:
    output: true
    permalink: /:collection/:name
  messages:
    output: true
  projects:
    output: true
    permalink: /:collection/:name

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
