---
layout: default
---

<!-- check out if there is any member with the intended role and create a boolean variable for it -->

{% for member in site.members %}
    {% if member.role == 'phd_student' %}
        {% assign phd_student_exists = true %}
    {% elsif member.role == 'master_student' %}
        {% assign master_student_exists = true %}
    {% elsif member.role == 'undergrad_student' %}
        {% assign undergrad_student_exists = true %}
    {% elsif member.role == 'highschool_student' %}
        {% assign highschool_student_exists = true %}
    {% elsif member.role == 'REU' %}
        {% assign REU_exists = true %}
    {% endif %}
{% endfor %}


<!-- sort members based on their seniority -->

{% assign members = site.members | sort: 'start_year' %}



<div>

    <h1>Lab Director</h1>
    {% for person in site.members %}
        {% if person.role == 'lab_director' %}
        <div>
            <div style="border: 1px solid #505050; padding: 20px">
                <div>

                    {% if person.image != null %}
                    <img alt="{{ person.first_name }} {{ person.last_name }}" style="width: 250px;"
                         title="{{ person.first_name }} {{ person.last_name }}" src="{{ site.baseurl }}{{ person.image }}">
                    {% endif %}

                    <div>
                        <h4>{{person.first_name}} {{person.last_name}}</h4>
                        {% if person.website != null %}
                        Website: <a href="{{ person.website }}">{{ person.website }}</a><br>
                        {% endif %}
                        {% if person.twitter != null %}
                        Twitter: <a href="{{ person.twitter }}">{{ person.twitter }}</a><br>
                        {% endif %}
                        {% if person.github != null %}
                        GitHub: <a href="{{ person.github }}">{{ person.github }}</a><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% if phd_student_exists %}
        <h1>PhD Students</h1>
        {% for person in members %}
        {% if person.role == 'phd_student' %}
        <div>
            <div style="border: 1px solid #505050; padding: 20px; margin-top: 10px">

                {% if person.image != null %}
                <img alt="{{ person.first_name }} {{ person.last_name }}" style="width: 250px;"
                     title="{{ person.first_name }} {{ person.last_name }}" src="{{ site.baseurl }}{{ person.image }}">
                {% endif %}

                <div>
                    <h4>{{person.first_name}} {{person.last_name}}</h4>
                    {% if person.website != null %}
                    Website: <a href="{{ person.website }}">{{ person.website }}</a><br>
                    {% endif %}
                    {% if person.twitter != null %}
                    Twitter: <a href="{{ person.twitter }}">{{ person.twitter }}</a><br>
                    {% endif %}
                    {% if person.github != null %}
                    GitHub: <a href="{{ person.github }}">{{ person.github }}</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}


    {% if master_student_exists %}
        <h1>Master Students</h1>
        {% for person in members %}
        {% if person.role == 'master_student' %}
        <div>
            <div style="border: 1px solid #505050; padding: 20px; margin-top: 10px">
                <div>

                    {% if person.image != null %}
                    <img alt="{{ person.first_name }} {{ person.last_name }}" style="width: 250px;"
                         title="{{ person.first_name }} {{ person.last_name }}" src="{{ site.baseurl }}{{ person.image }}">
                    {% endif %}

                </div>
                <div>
                    <h4>{{person.first_name}} {{person.last_name}}</h4>
                    {% if person.website != null %}
                    Website: <a href="{{ person.website }}">{{ person.website }}</a><br>
                    {% endif %}
                    {% if person.twitter != null %}
                    Twitter: <a href="{{ person.twitter }}">{{ person.twitter }}</a><br>
                    {% endif %}
                    {% if person.github != null %}
                    GitHub: <a href="{{ person.github }}">{{ person.github }}</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}


    {% if REU_exists %}
        <h1>REU</h1>
        {% for person in members %}
        {% if person.role == 'REU' %}
        <div>
            <div style="border: 1px solid #505050; padding: 20px; margin-top: 10px">
                <div>

                    {% if person.image != null %}
                    <img alt="{{ person.first_name }} {{ person.last_name }}" style="width: 250px;"
                         title="{{ person.first_name }} {{ person.last_name }}" src="{{ site.baseurl }}{{ person.image }}">
                    {% endif %}

                </div>
                <div>
                    <h4>{{person.first_name}} {{person.last_name}}</h4>
                    {% if person.start_year != null %}
                    Year: {{ person.start_year }}<br>
                    {% endif %}
                    {% if person.website != null %}
                    Website: <a href="{{ person.website }}">{{ person.website }}</a><br>
                    {% endif %}
                    {% if person.twitter != null %}
                    Twitter: <a href="{{ person.twitter }}">{{ person.twitter }}</a><br>
                    {% endif %}
                    {% if person.github != null %}
                    GitHub: <a href="{{ person.github }}">{{ person.github }}</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}


</div>