:root {

    --mason-green: #006633;
    --mason-gold: #FFCC33;
    --devx-color: #FE2600;

    --bg-color-1: #e5e9ec;
    --bg-color-2: #e1dcd5;
    --bg-color-3: #eff0ec;
    --bg-color-4: #c9cfcb;

    --color-1: #68665b;
    --color-2: #a7083f;
    --color-3: #025c4c;
    --color-4: #62637f;

    --border-color: #dee2e6;

    --color-bib-doi: #025c4c;
    --color-bib-preprint: #a7083f;

    --font-size-xl: 42px;
    --font-size-l: 38px;
    --font-size-md: 27px;
    --font-size-s: 20px;
    --font-size-xs: 15px;

    --font-weight-xl: 700;
    --font-weight-l: 400;
    --font-weight-md: 300;
}

/* ------- color --------  */

.bg-none {
    background: none;
}

.bg-summary {
    background-color: var(--bg-color-1);
}

.bg-news {
    background-color: var(--bg-color-2);
}

.bg-projects {
    background-color: var(--bg-color-3);
}

.bg-other {
    background-color: var(--bg-color-4);
}

.bg-news-header {
    background-color: var(--color-2);
}

.bg-projects-header {
    background-color: var(--color-3);
}

.bg-other-header {
    background-color: var(--color-1);
}

.bg-people-header {
    background-color: var(--color-4);
}

.text-color-black {
    color: black;
}

.text-color-white {
    color: white;
}

.text-color-1 {
    color: var(--color-1);
}

.text-color-2 {
    color: var(--color-2);
}

.gallery-bg-color-2 {
    background-color: var(--bg-color-1);
}

.gallery-bg-color-3 {
    background-color: var(--bg-color-2);
}

.gallery-bg-color-1 {
    background-color: var(--bg-color-3);
}

.box-shadow {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* ------- text --------  */

/* * {
    font-family: "Playfair Display", Georgia, serif;
} */

.text-small {
    font-size: var(--font-size-xs);
}

.text-large-title {
    font-size: var(--font-size-md);
}

.text-small-title {
    font-size: var(--font-size-s);
}

.text-title {
    font-size: var(--font-size-xl);
}

p {
    font-size: var(--font-size-s);
}

.text-italic {
    font-style: italic;
}

/* ------- width and height --------  */

.full-height {
    height: 100%;
}

.full-width {
    width: 100%
}

.center-contents {
    margin: auto;
    display: block;
}

/* ------- text decoration --------  */

.page-content a:hover {
    color:currentColor;
    text-decoration: none;
    border-bottom: solid 1px currentColor;
}

.par a {
    color: -webkit-link;
    color: -moz-link;
    color: -webkit-link;
    color: -ms-link;
/*     color: currentColor; */
    text-decoration: none;
/*     border-bottom: dotted 1px #FE2600; */
     border-bottom: none;
}

.par a:hover {
    color: -webkit-link;
    color: -moz-link;
    color: -webkit-link;
    color: -ms-link;
    text-decoration: none;
    border-bottom: none;
/*     color: currentColor; */
    filter: brightness(0.5);
/*     border-bottom: dotted 1px black; */
}

/* ------- collaborator images --------  */

.collaborator-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.prev img {
    opacity: 0.5;
}

.collaborator-img {
    position: relative!important;
}

.overlay-name-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--bg-color-1);
    border-radius: 50%;
}

.collaborator-img:hover .overlay-name-div{
    opacity: 1;
}

.overlay-name-text {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-xl);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ------- header --------  */

#header {
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #fffeff;
}

#header .banner-img {
    height: 50px;
}

/* ------- summary --------  */


.summary {
    flex-flow: column;
}

.summary h1 {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-xl);
    color: var(--main-txt-color-1);
    text-transform: uppercase;
}

.summary h2 {
    color: var(--main-txt-color-2);
    margin: 10px 0 0 0;
    font-size: var(--font-size-s);
}

/* ------- YouTube videos --------  */

.youTube-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youTube-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* ------- other --------  */

.all-news-link a,
.all-projects-link a {
    font-size: var(--font-size-s);
    font-style: italic;
    color: var(--aux-txt-color-1);
    position: relative;
}

.title {
    font-size: var(--font-size-xl);
    color: var(--color-1);
    text-align: center;
    border-bottom: 1px solid var(--border-color) !important;
    margin-top: 0.05em;
    margin-bottom: 1em;
}

.post-content img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.post-content h2 {
    color: var(--main-txt-color-2);
    margin: 10px 0 0 0;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-md);
}

.project-content img, .project-content iframe{
    margin: auto;
    display: block;
}

.project-highlight img {
    object-fit: cover;
    /*width: 80%;*/
    object-position: top;
    max-height: 400px;
}

.project-description {
    color: var(--main-txt-color-2);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-md);
}

.icon {
    font-size: 1.5em;
    padding: 5px;
    color: black;
}

.gallery img {
    max-width: 400px;
}

.footer-col-wrapper,
.social-links {
@include relative-font-size(0.9375);
    color: var(--main-txt-color-1);
}

.social-media-list {
    list-style: none;
    display: table;
    margin: 0 auto;
}

.social-media-list li {
    float: left;
    margin: 5px 10px 5px;
}

.social-media-list  a {
    text-decoration: none;
    display: block;
    padding: 4px;
    border: 0;
    color: var(--footer-txt-color-1);
}

.social-media-list .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: var(--footer-txt-color-1);
    vertical-align: text-top;
}

@media only screen and (max-width: 575px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    .icon {
        font-size: 1.5em;
        padding: 5px;
    }
    .row>div {
        width: 235px
    }
}

@media only screen and (max-width: 1024px) {
    .img-fluid {
        min-width: 210px;
    }
}
