#people .member {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eeebeb;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgb(145 144 144);
}

#people .member .mem-img {
    position: relative;
    overflow: hidden;
}

#people .member .mem-info {
    padding: 15px 15px;
}

#people .member .mem-info h4 {
    margin-bottom: 5px;
    color: #0f394c;
}

#people .member .mem-info span {
    display: block;
}

.icon {
    font-size: 2em;
    padding: 10px;
}

.mem-img>img {
    float: left;
    width: 260px;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 575px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    .member {
        min-width: 210px;
        min-height: 510px;
    }
    .icon {
        font-size: 2.5em;
        padding: 5px;
    }
    .row>div {
        width: 235px
    }
    .mem-img>img {
        width: 200px;
    }
}

 .container {
    width: 120%;
    padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 1024px) {
    .img-fluid {
        min-width: 210px;
    }
}