.projectHighlight {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.projectTitle {
    font-size: 28px;
    font-weight: 700;
    color: #0f394c;
    margin-bottom: 15px;
}

.img-fluid {
    min-width: 250px;
    max-width: 100%;
    height: auto;
}

.project-collab-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*  news  */
.post-list .post {
    /*background-color: #f4fbfe;*/
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.post-list .post .post-title {
    background-color: #f4fbfe;
    padding: 10px;
}

.post-list .post .post-content {
    padding: 10px;
}

.post-list .post .post-more-link {
    font-style: italic;
    font-size: 0.9em;
    color: #444;
    position: relative;
}