.home img {
    width: 100%;
}

.bg-none {
    background: none;
}

#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

#header .banner-img {
    height: 50px;
}

#home .summary h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase;
}

#home .summary h2 {
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
}

#home .title {
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase;
}

#home .project-highlight {
    margin-bottom: 50px;
}

#home .project-highlight img {
    max-height: 220px;
    width: 100%;
    object-fit: cover;
}

#home .project-highlight>div {
    height: 100%;
}

#home .project-highlight .project-post>div {
    height: 100%;
    background-color: #a3d0e530;
}

#home .project-title {
    margin-bottom: 15px;
    background-color: #a3d0e5;
    padding: 10px;
    font-weight: 800;
    color: #0f394c;
}

#home .post {
    margin-bottom: 20px;
    overflow: hidden;
}

#home .post>div {
    height: 100%;
    background-color: #a3e6ce30;
}

#home .post .post-title {
    background-color: #a3e6ce;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #0f394c;
}

#home .post .post-content, #home .project-highlight .project-content{
    padding: 10px;
}

#home .post .post-content img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

#home .post-more-link {
    font-style: italic;
    font-size: 0.9em;
    color: #444;
    position: relative;
}

#home .all-news-link a, #home .all-projects-link a {
    font-size: 20px;
}

/* news */

/* projects */
.project-collab-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Gallery */
.gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 5px;
}


.article-bottom-padding {
    padding-bottom: 50px;
}

.footer-col-wrapper,
.social-links {
@include relative-font-size(0.9375);
     color: #0f394c;
}

.social-media-list {
    list-style: none;
    display: table;
    margin: 0 auto;
}
.social-media-list li {
    float: left;
    margin: 5px 10px 5px;
}
.social-media-list  a {
    text-decoration: none;
    display: block;
    padding: 4px;
    border: 0;
    color: #828282;
}

.social-media-list .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    vertical-align: text-top;
}